*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background:#fff ;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: linear-gradient(135deg, #38ced6, #5853e0);
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.main-h1{
    color: #fff;
}
.container p{
    margin-bottom: 40px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c1c1c;
}
button{
    background: linear-gradient(135deg, #38ced6, #5853e0);
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 30px;
    margin-top: 20px;
}
.contact-left h3{
   color: #1c1c1c;
    font-weight: 600;
    margin-bottom: 30px;
}